body{
    background: teal;
    font-family: 'Comfortaa', cursive;
}
h1{
    color: aliceblue;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}
 
.tv-btn,.btn{
    font-size: 14px;
    font-weight: 700;
	background: aliceblue;
	border: none;
	padding: 10px 15px;
	margin: 6px;
	border-radius: 20px;
}